---
import Layout from '../components/Astro/layouts/Layout.astro';
import '../components/scss/app.scss';
---

<Layout title="Climate API">
	<main>

		<div class="topBar">
			<div class="topBar__flex">
				<div class="topBar__image">
					<img src="img/tierra.png" alt="logo Page">
				</div>
				<form action="" class="topBar__form">
					<label for="search">Search for your City</label>
					<div class="topBar__form--content ">
						<div class="topBar__form--select-wrapper">
							<i class="fa-solid fa-magnifying-glass"></i>
							<input list="cities" name="search" id="search" class="topBar__form--input" placeholder="Type to search...">
							<datalist id="cities">
							</datalist>
						</div>
						<button type="submit" class="topBar__submit"><i class="fa-solid fa-magnifying-glass"></i></button>
					</div>
					
				</form>
			</div>
		</div>
		<main class="container main" id="main">
			<div class="main__information ">
				<p class="main__city" id="cityName"></p>
				<p class="main__hour" id="cityHour"></p>
			</div>
			<div class="main__weather card" id="main">
				<div class="card__flex">
					<div class="card__information">
						<p class="card__temperature"></p>
						<p class="card__text"></p>
						<p class="card__min--max--temperature"></p>
					</div>
					<div class="card__visuals">
						<img src="" alt="logo weather" class="card__image">
						<div class="card__rain--probaility">
							<img src="" alt="rain probability" class="card__rain">
							<p class="card__probaility"></p>
						</div>
					</div>
				</div>
				
			</div>
		</main>
		<section class="container days">
			
			<div class="days__monday card" id="monday">
				<p class="days__title">Monday</p>
				<div class="card__flex">
					<p class="card__min--max--temperature"></p>
					<img src="" alt="logo weather" class="card__image">
					<div class="card__rain--probaility">
						<img src="" alt="rain probability" class="card__rain">
						<p class="card__probaility"></p>
					</div>
				</div>
			</div>
			<div class="days__tuesday card" id="tuesday">
				<p class="days__title">Tuesday</p>
				<div class="card__flex">
					<p class="card__min--max--temperature"></p>
					<img src="" alt="logo weather" class="card__image">
					<div class="card__rain--probaility">
						<img src="" alt="rain probability" class="card__rain">
						<p class="card__probaility"></p>
					</div>
				</div>
			</div>
			<div class="days__wednesday card" id="wednesday">
				<p class="days__title">Wednesday</p>
				<div class="card__flex">
					<p class="card__min--max--temperature"></p>
					<img src="" alt="logo weather" class="card__image">
					<div class="card__rain--probaility">
						<img src="" alt="rain probability" class="card__rain">
						<p class="card__probaility"></p>
					</div>
				</div>
			</div>
			<div class="days__thursday card" id="thursday">
				<p class="days__title">Thursday</p>
				<div class="card__flex">
					<p class="card__min--max--temperature"></p>
					<img src="" alt="logo weather" class="card__image">
					<div class="card__rain--probaility">
						<img src="" alt="rain probability" class="card__rain">
						<p class="card__probaility"></p>
					</div>
				</div>
			</div>
			<div class="days__friday card" id="friday">
				<p class="days__title">Friday</p>
				<div class="card__flex">
					<p class="card__min--max--temperature"></p>
					<img src="" alt="logo weather" class="card__image">
					<div class="card__rain--probaility">
						<img src="" alt="rain probability" class="card__rain">
						<p class="card__probaility"></p>
					</div>
				</div>
			</div>
			<div class="days__saturday card" id="saturday">
				<p class="days__title">Saturday</p>
				<div class="card__flex">
					<p class="card__min--max--temperature"></p>
					<img src="" alt="logo weather" class="card__image">
					<div class="card__rain--probaility">
						<img src="" alt="rain probability" class="card__rain">
						<p class="card__probaility"></p>
					</div>
				</div>
			</div>
			<div class="days__sunday card" id="sunday">
				<p class="days__title">Sunday</p>
				<div class="card__flex">
					<p class="card__min--max--temperature"></p>
					<img src="" alt="logo weather" class="card__image">
					<div class="card__rain--probaility">
						<img src="" alt="rain probability" class="card__rain">
						<p class="card__probaility"></p>
					</div>
				</div>
			</div>
		</section>
	</main>
	<script>
import { getDataEntryById } from "astro:content";

		document.addEventListener('DOMContentLoaded', getUbication)


		function getUbication(){
			navigator.geolocation.getCurrentPosition(showUbication, showError);
		}
		

		function showUbication(position) {
			const lat = position.coords.latitude;
			const lon = position.coords.longitude;
			console.log(`Latitud: ${lat}, Longitud: ${lon}`);
			getData(lat, lon);
		}

		function showError(error) {
			switch(error.code) {
				case error.PERMISSION_DENIED:
				console.log("El usuario denegó la solicitud de geolocalización.");
				break;
				case error.POSITION_UNAVAILABLE:
				console.log("La información de ubicación no está disponible.");
				break;
				case error.TIMEOUT:
				console.log("La solicitud para obtener la ubicación ha caducado.");
				break;
				case error.UNKNOWN_ERROR:
				console.log("Se ha producido un error desconocido.");
				break;
			}
		}

		// Llamar a la función para obtener la ubicación
		function getData(lat,lon){
			fetch(`https://api.openweathermap.org/data/3.0/onecall?lat=${lat}&lon=${lon}&units=metric&appid=388a98cce4230ec690b138a0004d0f41`).then(e=>e.ok?e.json():null)
			.then(e=>{
				let jsonObject=e;
				showHTML(jsonObject);
			}).catch(e=>{
				console.log(`Error: ${e}`)
			})
		}
		function showHTML(json){
			console.log(json)
		}
	</script>

</Layout>